<!--一覧画面-->
<!--コントローラから渡された@book変数内から1つずつ取り出して、book変数へ格納-->
<%# @book.each do |book| %>
  <!--<div>-->
<!--詳細画面へのリンクを追加 -->
    <%#= link_to book_path(book.id) do %>
        <%#= image_tag book.get_image %>
    <%# end %>
<!--投稿画像に紐づいたユーザーのプロフィール画像を表示-->
    <!--<p>投稿ユーザー画像:<%#= image_tag book.user.get_profile_image(100,100) %></p>-->
<!--bookにActiveStorageで設定したimageを表示.Bookモデル内に記述したメソッドを呼び出し-->
    <%#= image_tag book.get_image %>
    <!--<p>投稿ユーザー画像:<%#= image_tag 'sample-author1.jpg' %></p>-->
<!--book変数のtitleカラムを表示-->
    <!--<p>Title:<%#= book.title %></p>-->
<!--book変数のbodyカラムを表示-->
    <!--<p>Opinion:<%#= book.body %></p>-->
<!--book変数のuser_idに関連付けられているuserモデルのnameカラムを表示-->
    <!--<p>ユーザーネーム:<%#= book.user.name %></p>-->
  <!--</div>-->
<%# end %>

<!--部分テンプレートを呼び出せるように設定-->
<%#= render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値] %>
<%= render 'list', book: @books %>

<!--本の一覧記述-->