<!--Aboutリンク先記述場所-->
<main>
  <p id="notice"></p>
<!--Bootstrapの枠組み-->
    <dic class="container">
      <div class="row">
        <h1 class="px-3 mx-auto"> Welcome to 
          <i class="fas fa-book"></i> 
           <strong> Bookers </strong></h1>
          <!--<i class="fa-solid fa-book"></i> Bookers </h1>-->
      </div>
    </dic>
</main>