<!--フッター部分記述-->
    <footer>
      <div class="container mt-5">
        <div class="row">
<!--幅指定-->
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>